@charset "utf-8";
body {
  background-image: url(../images/cloud.jpg);
    background-repeat: no-repeat;
    background-position: 130px 150px;
}
/* .my {
  width: 350px;
  background-color: mediumpurple;
  padding: 20px;
  margin: 10px;
  border: 5px dotted #222;
  float: left;
}
#my1 {
  background-clip: border-box;
}
#my2 {
  background-clip: padding-box;
}
#my3 {
  background-clip: content-box;
}

ul {
  list-style: none;
 
}
li {
  background-image: url(../images/book.png);
  background-repeat: no-repeat;
  /* background-color: blueviolet; */
  /* padding-left: 50px;
  line-height: 30px;
} 

