@charset "utf-8";
*{
    list-style: none;
}
.container{
    margin: 0 auto;
    width: 960px;
    }
.navi{
    width: 960px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}
.navi> ul{
    padding-top: 10px;
    list-style: none;
    text-align: center;
    padding-bottom: 5px;
}
.navi>ul>li{
text-align: center;
/* padding: 10px; */
float: left;
width: 150px;
}
.navi a:link,.navi a:visited{
    display: block;
    font-size: 14px;
    color: #000;
    padding: 10px;
    text-decoration: none;
    /* background-color: antiquewhite; */
}
/* .navi a:visited{
    display: block;
    font-size: 14px;
    color: #d60e0e;
    padding: 10px;
    text-decoration: none;
} */
.navi a:hover, .navi a:hover{
background-color: #222;
color: #fff;
}
.navi a:active{
    background-color: brown;
}

.contents{
    width: 400px;
    /* background-color: cornflowerblue; */
    padding: 20px;
    margin: 30px auto;
    border-radius: 20px;
    border: 1px solid #222;
}
#intro:target{
    background-color: cadetblue;
    color: #222;
}
#room:target{
    background-color: rgb(208, 159, 223);
    color: #222;
}
#reservation:target{
    background-color: rgb(231, 155, 161);
    color: #222;
}
