@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
  float: left;
}
a {
  color: #000;
  text-decoration: none;
}
body {
  font-family: "Nanum Gothic", "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #777;
  line-height: 1.6;
  letter-spacing: -0.3px;
  word-break: keep-all;
}

body::before {
  content: "";
  width: 100%;
  height: 960px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/back1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
opacity: 0.2;
}
#container {
  /* z-index: 9999999; */
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  position: relative;
}
header {
  width: 100%;
  height: 100px;
  background-color: rgb(24, 49, 95);
}
.logo {
  float: left;
  width: 300px;
  height: 150px;
  line-height: 100px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 25px;
}
h1 {
  color: #ffffff;
  font-family: "Nanum Pen Script", cursive;
  margin-bottom: 10px;
}
nav {
  float: right;
  width: 600px;
  height: 100px;
  margin-top: 40px;
}
.topmenu {
  width: 600px;
  /* background-color: beige; */
  margin: 0 auto;
  height: 60px;
}
.topmenu > li {
  float: left;
}
.topmenu > li > a {
  display: block;
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  padding: 0px 40px;
  border-right: 1px solid #ddd;
}
.topmenu > li > a:hover {
  color: rgb(0, 0, 0);
}
.topmmenu > li:last-child {
  border: none;
}
/* 메인 */
.contents {
  width: 1200px;
  margin: 50px auto;
  padding: 0 100px;
}
main > section {
  margin-top: 40px;
}
main h2 {
  font-size: 36px;
  line-height: 36px;
}
.aa > img {
  width: 300px;
  height: 200px;
  float: left;
  margin-top: 10px;
}
.p {
  width: 300px;
  height: 200px;
  float: left;
  margin: 15px;
  font-size: 30px;
  padding: 20px;
}
.lineup{
    font-size: 15px;
    margin-top: 15px;
}
.cu {
  clear: left;
}
.sig > img {
  width: 300px;
  float: left;
  margin-top: 30px;
  margin-right: 50px;
}
table {
  font-size: 20px;
}
/* 하단 */
footer {
  width: 1200px;
  height: 100px;
  border-top: 2px dashed #9c9c9c;
  background-color: #ebeaea;
}
.bottommenu {
  width: 100%;
  height: 20px;
  margin-left: 20px;
}
.bottommenu > ul {
  margin-top: 15px;
}
.bottommenu > ul > li {
  float: left;
  padding: 15px 120px;
  border-right: 1px solid #ddd;
}
.bottommenu > ul > li:last-child {
  border: none;
}
.bottommenu > ul > li > a:visited {
  color: #666;
}
.bottommenu > ul > li > a:hover {
  color: deeppink;
}
tbody>tr{
    text-align: center;
    font-size: 30px;
}